html, body {
  overflow-x: hidden; /* Evita el scroll horizontal */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pedidoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  min-height: 100vh; /* Para asegurar que ocupe toda la pantalla */
  width: 100%;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  width: 100%; /* Para que el texto se ajuste dentro del contenedor */
}

.logo {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 10px;
}

select, input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px; /* Agrega espacio entre botones */
}

button:hover {
  background-color: #0056b3;
}

.productList {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.productItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.enviarButton {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.productTable {
  width: 100%;
  border-collapse: collapse;
}

.productTable th,
.productTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.productTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.productTable td {
  background-color: #fff;
}

@media (max-width: 760px) {
  .pedidoContainer {
    padding-left: 15px; /* Margen izquierdo más pequeño en móviles */
    padding-right: 15px; /* Margen derecho más pequeño en móviles */
  }

  h1 {
    font-size: 1.5rem;
  }

  .formGroup, .productList, .enviarButton {
    width: 80%;
    max-width: 80%; /* Asegura que todo el contenido ocupe el 100% del ancho disponible */
  }

  .logo {
    max-width: 60%; /* Ajusta el tamaño del logo en pantallas pequeñas */
  }

  select, input {
    font-size: 0.9rem;
    padding: 8px;
  }
}
