@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');



.pedidoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh; /* Para asegurar que ocupe toda la pantalla */
  width: 100%;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.logo {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 10px;
}

select, input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Limita la altura del desplegable de productos y habilita el scroll */
.formGroup select {
  max-height: 150px; /* Establece una altura máxima para el dropdown */
  overflow-y: auto;  /* Habilita el scroll vertical */
}

button {
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}

.productList {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.productItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.enviarButton {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

@media (max-width: 760px) {
  .formGroup, .productList {
    max-width: 80%;
    justify-content: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  .logo {
    max-width: 200px;
  }

  select, input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .enviarButton {
    margin-top: 20px;
    width: 100%;
    max-width: 250px;
  }
}
