/* StockPage.module.css y EnviosPage.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form, .editForm {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

input:focus, select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 25px; /* Bordes más redondeados */
  padding: 8px 16px; /* Tamaño más compacto */
}

button:hover {
  background-color: #0056b3;
}

.stockList, .shipmentItems {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  padding: 0 10px; /* Alinear con el padding del container */
}

.productItem, .shipmentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px; /* Espaciado reducido */
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  background-color: #f9f9f9; /* Fondo claro para contraste */
}

.productItem span, .shipmentItem span {
  font-size: 0.9rem; /* Fuente más pequeña */
  color: #333;
}

.productItem:hover, .shipmentItem:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1; /* Cambio sutil de fondo al hover */
}

@media (max-width: 768px) {
  .form, .editForm, .stockList, .shipmentItems {
    width: 100%;
    padding: 0 10px;
  }

  .productItem, .shipmentItem {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px; /* Ajustar padding para dispositivos pequeños */
  }

  .productItem > span, .shipmentItem > span {
    margin-bottom: 5px;
  }

  button {
    width: 100%;
    padding: 10px;
  }
}
