@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  height: 100vh;
  padding: 20px;
  background: #6190E8;
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
  background: linear-gradient(to right, #A7BFE8, #6190E8);
}

.logo {
  width: 350px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.link {
  margin-top: 15px;
  font-size: 1rem;
  text-align: center;
}

.pedirInsumosButton {
  margin-top: 20px;
  padding: 10px 20px;
  width: 400px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.pedirInsumosButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .loginContainer {
    justify-content: flex-start; /* Asegura que el contenido esté alineado al inicio en pantallas pequeñas */
    padding-top: 50px; /* Agrega espacio en la parte superior para que el contenido no esté tan pegado al borde superior */
  }

  .logo {
    width: 250px; /* Reducir tamaño del logo en pantallas pequeñas */
  }

  h1 {
    font-size: 2rem; /* Reducir tamaño del título en pantallas pequeñas */
  }

  form {
    max-width: 90%; /* Ajustar el ancho del formulario en pantallas pequeñas */
  }

  button {
    font-size: 1rem;
    padding: 8px;
  }

  .pedirInsumosButton {
    font-size: 1rem;
    padding: 8px 16px;
    width: 90%;
  }
}
