@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');


body{
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #519adf;
  font-family: "Roboto Slab", serif;
  padding: 1rem;
  position: relative;
}

.logo img {
  height: 80px;
}

.links {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.links a {
  color: rgb(29, 27, 27);
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

.links a.active {
  font-weight: bold;
  color: #f3f3f2;
  text-decoration: none;
}




.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}



@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .navbar {
    padding: 1rem 2rem;
  }
}
